header { //header layout
    display: flex;
    @include center;
    position: relative;
    height: 63px;
    background-color: white;
    box-sizing: border-box;
    filter: drop-shadow($shadow-primary);
    @include desktop {
        height: 96px;
    }
    img {
        height: auto;
        width: 162px;
    }
    nav {
        position: absolute;
        left: 23px;
    }
    i {
        font-size: 20px;
        width: 16px;
    }
}