.index-booking {
    text-align: center;
    justify-content: center;
    background-color: $color-background;
    padding-bottom: 20px;
    @include direction;
    &__content {
        padding: $section-padding;
        @include direction;
        gap: 20px;
        margin: 20px 0;
    }
}
form {
    width: 100%;
    padding: 0;
    display: flex;
    @include center;
    background-color: $color-form-background;
    color: $color-dark;
    input {
        height: 50px;
        background-color: $color-form-background;
        color: $color-dark;
        border: none;
        text-align: center;
        @include roboto-font (500);
    }
}

.index-fonctionnement {
    padding: $section-padding;
    margin-bottom: 25px;
    &__btns {
        @include direction;
        gap: 25px;
        &--layout {
            position: relative;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            background-color: $color-background;
            height: 72px;
            margin-left: 12px;
            @include roboto-font (bold);
            i {
                color: $color-dark-font;
                position: absolute;
                left: 37px;
            }
        }
        .btn-number {
            position: absolute;
            left: -11px;
            background-color: $color-primary;
            color: white;
            display: flex;
            @include center;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            @include roboto-font (500, 14px);
        }
    }
}

.index-restaurants {
    background-color: $color-background;
    padding: $section-padding;
    &__cards {
        @include direction;
        gap: 15px;
        padding-bottom: 45px;
    }
}
