* {
  margin: 0;
}

a, ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 25px 0;
}

main {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.card {
  background-color: white;
  position: relative;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-radius: 20px 20px 0 0;
}
.card__btn-new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__content--txt-layout {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__content i {
  font-size: 22px;
  margin: 25px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--pink {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 13px 16px;
  width: 186px;
}

.main-container {
  max-width: 768px;
  margin: auto;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  background-color: white;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}
header img {
  height: auto;
  width: 162px;
}

.index-booking {
  text-align: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.index-booking form {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  color: #353535;
}
.index-booking form input {
  height: 50px;
  background-color: #EAEAEA;
  color: #353535;
  border: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.index-booking__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.index-fonctionnement {
  padding: 20px;
  margin-bottom: 25px;
}
.index-fonctionnement__btns {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.index-fonctionnement__btns--layout {
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #f7f7f7;
  height: 72px;
  margin-left: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.index-fonctionnement__btns--layout i {
  color: #7E7E7E;
  position: absolute;
  left: 37px;
}
.index-fonctionnement__btns .btn-number {
  position: absolute;
  left: -11px;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.index-restaurants {
  background-color: #f7f7f7;
  padding: 20px;
}
.index-restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 45px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer a {
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer i {
  padding-right: 12px;
  width: 11px;
}

/*# sourceMappingURL=style.css.map */
