//heart animation

.heart__icons { //heart icons block
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 25px;
    &--empty{ //empty heart position
        position: absolute;
    }
    &--full{ //full heart position and layout
        position: absolute;
        opacity: 0;
        background: linear-gradient($color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover &--full { //full heart animation trigger and effect
        opacity: 1;
        animation: pulse 350ms ease-in-out 100ms;
    }
    &:hover &--empty { //empty heart animation trigger 
        opacity: 0;
    }
}

//loader animation

.loader { //loader block layout, display the full screen loader during the animation
    position: fixed;
    background-color: $color-background;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: load 2800ms;
    .logo { //loader screen logo
        box-sizing: border-box;
        width: 300px;
        display: block;
        margin: 15px auto;
        position: relative;
        top: 50%;
        overflow: hidden;
        transform: scale(0);
        animation: logo 2800ms $bounce;
    }
    .shadow { //loader screen shadow under the logo
        box-sizing: border-box;
        margin: auto;
        position: relative;
        top: 50%;
        width: 300px;
        height: 4px;
        overflow: hidden;
        border-radius: 50%;
        transform: scale(0);
        background: rgba(0, 0, 0, 0.1);
        animation: shadow 2800ms $bounce;
    }
}




