.btn { //button base component
    display: flex;
    @include center;
    &--pink { //pink gradient buttons
        background: linear-gradient($color-gradient);
        color: $color-white;
        text-align: center;
        border-radius: 25px;
        padding: 13px 18px;
        min-width: 150px;
        filter: drop-shadow($shadow-btn-origin);
        transition: filter 400ms ease-in-out 100ms;
        &:hover { //animation trigger
            filter: drop-shadow($shadow-btn-modifier) brightness(1.10) saturate(0.85);
        }
    }
    &--margin { //menu pages, pink buttons placement
        margin-top: 25px;
        padding-bottom: 40px;
    }
}