.btn {
    display: flex;
    @include center;
    &--pink {
        background: linear-gradient($color-gradient);
        color: white;
        text-align: center;
        border-radius: 25px;
        padding: 13px 18px;
        min-width: 150px;
        filter: drop-shadow($shadow-btn-origin);
        transition: filter 400ms ease-in-out 100ms;
        &:hover {
            filter: drop-shadow($shadow-btn-modifier) brightness(1.10) saturate(0.85);
        }
    }
    &--margin {
        margin-top: 25px;
        padding-bottom: 40px;
    }
}