$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-font:#008766;
$color-background: #f7f7f7;
$color-form-background: #EAEAEA;
$color-dark: #353535;
$color-dark-font: #7E7E7E;
$color-gradient: 193.33deg, $color-primary -11.44%, $color-secondary 123.93%;

$shadow-primary: 0px 2px 4px rgba(0, 0, 0, 0.15);
$shadow-btn-origin: 0px 4px 10px rgba(0, 0, 0, 0.25);
$shadow-btn-modifier: 0px 4px 15px rgba(0, 0, 0, 0.35);
$shadow-card: 0px 4px 15px rgba(0, 0, 0, 0.1);

$section-padding: 20px;

$breakpoints: (
    desktop: 1024px
)