$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-font:#008766;
$color-background: #D2D2D2;
$color-form-background: #EAEAEA;
$color-dark: #353535;

$shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.15);
$shadow-strong: 0px 4px 15px rgba(0, 0, 0, 0.1);